<h3>Search for Friends</h3>
<div id="friend-lookup">
  <%= form_tag search_friends_path, remote: true, method: :get, id: 'friend-lookup-form' do %>
<div class="ui search">
  <div class="ui icon input">
    <%= text_field_tag :search_param, params[:search_param], placeholder: "Enter username", autofocus: true,
      class: "prompt" %>
    <i class="search icon"></i>
  </div>
  <%= button_tag(type: :submit, class: "ui orange submit button") do %>
    <i class="fa fa-search"></i> Search
  <% end %>
  <div class="results"></div>
</div>
<% end %>
</div>

<div id="results">
  <%= render 'friends/result' %>
</div>
