<%= render 'shared/errors', obj: @user %>


<h1 align="center">MessageMe - <em>a complete Chat App by Asad</em></h1>

<h4 class="ui center aligned medium icon header">
<i class="circular orange power off icon"></i> Sign up to continue
</h4>


<%= render 'form' %>
